'packages': [
  'atom-beautify'
  'autocomplete-paths'
  'autocomplete-plus'
  'bespin-soft-syntax'
  'block-comment'
  'chameleon-dark-syntax'
  'color-picker'
  'colorpicker'
  'comment'
  'find-selection'
  'glitterbomb'
  'jsformat'
  'jshint'
  'linter'
  'linter-jshint'
  'mandarin-syntax'
  'metro-syntax'
  'minimap'
  'minimap-find-and-replace'
  'night-snilek-syntax'
  'ninja-syntax'
  'no-caffeine-syntax'
  'noj-syntax'
  'package-sync'
  'pen-paper-coffee-syntax'
  'seti-syntax'
  'seti-ui'
  'spacegray-dark-syntax'
  'xeta-syntax'
]
